<aside class="widget">
    <h3 class="widget-title">广告</h3>
    <div class="widget-content">
        <!-- google ads -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:inline-block;width:250px;height:250px"
             data-ad-client="ca-pub-3565452474788507"
             data-ad-slot="9493159174"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</aside>