<aside class="widget">
<h3 class="widget-title">友情链接</h3>
<div class="widget-content">
<ul id='link-list'>
<!-- link begin -->
<li><a href="http://www.apachecn.org/">ApacheCN</a></li>
<li><a href="http://www.258ch.com/">苍海国际</a></li>
<li><a href="http://www.714.hk/">梦殇国际</a></li>
<li><a href="http://cuican.name/">璀璨</a></li>
<li><a href="http://www.giuem.com/">Giuem</a></li>
<li><a href="http://www.woaiye.com/">我爱夜</a></li>
<li><a href="http://moelove.info/">MoeLove</a></li>
<li><a href='http://xiaohudie.net/'>小蝴蝶</a></li>
<li><a href='http://www.wczf.net/'>微尘逐风</a></li>
<li><a href='http://cyto.top/'>Cytosine</a></li>
<li><a href='https://cismon.net/'>Pensieve</a></li>
<li><a href="http://gaocegege.com/Blog/">高策</a></li>
<li><a href='http://zhangwenli.com/blog/'>羡辙杂俎</a></li>
<li><a href="http://www.geekzu.cn/">极客族</a></li>
<li><a href="http://hardrain980.com">骤雨</a></li>
<li><a href="http://lolil.lofter.com/">庭园</a></li>
<li><a href="http://www.sunweihu.com/">墨涩网</a></li>
<li><a href='http://lvycf.com'>HDL</a></li>
<li><a href='http://www.farquer.cn/'>farquer</a></li>
<li><a href='https://loveincode.cnblogs.com/'>loveincode</a></li>
<li><a href='https://minemine.cc/'>Minemine</a></li>
<!-- link end -->
</ul>
</div>
<script>
    // links shuffle
    document.addEventListener('DOMContentLoaded', evt => {
        var linkUl = document.querySelector('#link-list');
        var links = document.querySelectorAll('#link-list li');
        links = Array.from(links);
        links.forEach(x => x.remove());
        var len = links.length;
        for(var i = 0; i < len; i++) {
            var r = Math.floor(Math.random() * links.length);
            linkUl.append(links[r]);
            links.splice(r, 1);
        }
    });
</script>
</aside>